

@media (min-width: 1101px) {
    .colorsButton {
        background: linear-gradient(to right, #EE9CA7, #FFDDE1);
        display: inline-block;
        position: relative;
        cursor: pointer;
        border: none;
        right: 45.5%;
        height: 40px;
        width: 40px;
        top: 10px;
    }
    .container {
        width: -webkit-fill-available;
        justify-content: space-around;
        transition: bottom 1s 0.3s;
        background-color: #ddd;
        position: absolute;
        display: flex;
        padding: 20px;
        bottom: -110px;
    }
    .transition {
        bottom: 0px;
    }
    .color {
        border: 2px solid transparent;
        transition: 0.3s;
        cursor: pointer;
        height: 70px;
        opacity: 0.5;
        width: 20%;
    }
    .active {
        opacity: 1;
    }
    .color:hover {
        opacity: 1;
    }
    .color1 {
        background: linear-gradient(to right, #EE9CA7, #FFDDE1);
    }
    .color2 {
        background: linear-gradient(to right, #FAD0C4, #F5F5DC);
    }
    .color3 {
        background: linear-gradient(to right, #00416A, #E4E5E6);
    }
    .color4 {
        background: linear-gradient(to right, #334D50, #CBCAA5 );
    }
}

/* tablet screen */
@media (min-width: 650px) and (max-width: 1100px) {
    
    .colorsButton {
        background: linear-gradient(to right, #EE9CA7, #FFDDE1);
        display: inline-block;
        position: relative;
        cursor: pointer;
        border: none;
        right: 45.5%;
        height: 40px;
        width: 40px;
        top: 10px;
    }
    .container {
        width: -webkit-fill-available;
        justify-content: space-around;
        transition: bottom 1s 0.3s;
        background-color: #ddd;
        position: absolute;
        display: flex;
        padding: 20px;
        bottom: -110px;
    }
    .transition {
        bottom: 0px;
    }
    .color {
        border: 2px solid transparent;
        transition: 0.3s;
        cursor: pointer;
        height: 70px;
        opacity: 0.5;
        width: 20%;
    }
    .active {
        opacity: 1;
    }
    .color:hover {
        opacity: 1;
    }
    .color1 {
        background: linear-gradient(to right, #EE9CA7, #FFDDE1);
    }
    .color2 {
        background: linear-gradient(to right, #FAD0C4, #F5F5DC);
    }
    .color3 {
        background: linear-gradient(to right, #00416A, #E4E5E6);
    }
    .color4 {
        background: linear-gradient(to right, #334D50, #CBCAA5 );
    }

}
/* small scren */
@media (min-width: 230px) and (max-width: 649px) {
    .colorsButton {
        background: linear-gradient(to right, #EE9CA7, #FFDDE1);
        display: inline-block;
        position: relative;
        cursor: pointer;
        border: none;
        right: 45.5%;
        height: 40px;
        width: 40px;
        top: 10px;
    }
    .container {
        width: -webkit-fill-available;
        justify-content: space-around;
        transition: bottom 1s 0.3s;
        background-color: #ddd;
        position: absolute;
        display: flex;
        padding: 20px;
        bottom: -110px;
    }
    .transition {
        bottom: 0px;
    }
    .color {
        border: 2px solid transparent;
        transition: 0.3s;
        cursor: pointer;
        height: 70px;
        opacity: 0.5;
        width: 20%;
    }
    .active {
        opacity: 1;
    }
    .color:hover {
        opacity: 1;
    }
    .color1 {
        background: linear-gradient(to right, #EE9CA7, #FFDDE1);
    }
    .color2 {
        background: linear-gradient(to right, #FAD0C4, #F5F5DC);
    }
    .color3 {
        background: linear-gradient(to right, #00416A, #E4E5E6);
    }
    .color4 {
        background: linear-gradient(to right, #334D50, #CBCAA5 );
    }
}