
/* PC screen */

@media (min-width: 1101px) {
    aside {
        transition: 1s 0.3s ease;
        grid-area: side;
    }
    .menu {
        background: linear-gradient(to right, #000000, #555555);
        transform: translateX(-100%);
        border-radius: 0 15px 15px 0;
        transition: 1.5s 0s ease;
        position: relative;
        height: 650px;
        width: 90%;
        z-index: 0;
    }
    .menuTransition {
        transform: translateX(0);
        position: sticky;
        top: 80px;
    }
    .loginButton {
        background-color: white;
        display: inline-block;
        position: fixed;
        border-radius: 50%;
        border: none;
        height: 50px;
        width: 50px;
        top: 90vh;
        left: 95vw;
    }
    .fa-circle-user {
        color: #bbb;
        font-size: 48px;
        margin: auto;
        z-index: 3;
    }
    .loginButton a {
        position: absolute;
        display: block;
        height: 40px;
        width: 40px;
        margin: 4px;
    }
    aside ul {
        justify-content: space-around;
        flex-direction: column;
        position: absolute;
        list-style: none;
        display: flex;
        height: 80%;
        width: 60%;
        left: 20%;
        top: 10%;
    }
    aside li {
        background-color: white;
        position: relative;
        text-align: center;
        border-radius: 7px;
        cursor: pointer;
        flex-basis: 10%;
    }
    aside ul li a {
        text-decoration: none;
        position: relative;
        font-size: 24px;
        color: red;
        height: 20px;
        top: 10px;
    
    }
}

/* tablate screen */

@media (min-width: 650px) and (max-width: 1100px) {
    aside {
        transition: 1s 0.3s ease;
        grid-area: side;
    }
    .menu {
        background: linear-gradient(to right, #000000, #555555);
        transform: translateX(-100%);
        border-radius: 0 15px 15px 0;
        transition: 1.5s 0s ease;
        position: relative;
        height: 650px;
        width: 90%;
        z-index: 0;
    }
    .menuTransition {
        transform: translateX(0);
        position: sticky;
        top: 80px;
    }
    .loginButton {
        background-color: white;
        display: inline-block;
        position: fixed;
        border-radius: 50%;
        border: none;
        height: 50px;
        width: 50px;
        top: 90vh;
        left: 93vw;
    }
    .fa-circle-user {
        color: #bbb;
        font-size: 48px;
        margin: auto;
        z-index: 3;
    }
    .loginButton a {
        position: absolute;
        display: block;
        height: 40px;
        width: 40px;
        margin: 4px;
    }
    aside ul {
        justify-content: space-around;
        flex-direction: column;
        position: absolute;
        list-style: none;
        display: flex;
        height: 80%;
        width: 60%;
        left: 20%;
        top: 10%;
    }
    aside li {
        background-color: white;
        position: relative;
        text-align: center;
        border-radius: 7px;
        cursor: pointer;
        flex-basis: 10%;
    }
    aside ul li a {
        text-decoration: none;
        position: relative;
        font-size: 24px;
        color: red;
        height: 20px;
        top: 10px;
    
    }
}

/* small screen */

@media (min-width: 230px) and (max-width: 649px) {
    aside {
        grid-area: side;
        width: 100%;
    }
    .menu {
        background: linear-gradient(to right, #000000, #555555);
        transform: translateY(-100px);
        transition: transform 1.5s ease;
        position: relative;
        height: 100px;
        width: 100%;
    }
    .menuTransition {
        transform: translateY(0%);
        position: fixed;
        top: 100px;
        z-index: 1;
    }
    .loginButton {
        background-color: white;
        display: inline-block;
        position: fixed;
        border-radius: 50%;
        border: none;
        height: 50px;
        width: 50px;
        top: 90vh;
        left: 90vw;
    }
    .fa-circle-user {
        color: #bbb;
        font-size: 48px;
        margin: auto;
        z-index: 3;
    }
    .loginButton a {
        position: absolute;
        display: block;
        height: 40px;
        width: 40px;
        margin: 4px;
    }
    aside ul {
        justify-content: space-between;
        flex-direction: row;
        position: absolute;
        list-style: none;
        display: flex;
        height: 50%;
        width: 80%;
        left: 10%;
        top: 25px;
    }
    aside li {
        background-color: transparent;
        position: relative;
        text-align: center;
        border-radius: 7px;
        cursor: pointer;
    }
    aside ul li a {
        text-decoration-color: #ddd;
        text-decoration-line: none;
        position: relative;
        font-size: 24px;
        color: #ddd;
        height: 20px;
        top: 10px;
    }
    aside ul li a:hover {
    text-decoration-line: underline;
    }
}