.colorsButton {
    background: linear-gradient(to right, #EE9CA7, #FFDDE1);
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: none;
    right: 45.5%;
    height: 40px;
    width: 40px;
    top: 10px;
}
.container {
    justify-content: space-between;
    background-color: #ddd;
    flex-direction: column;
    transition: right 1s 0.3s;
    position: fixed;
    display: flex;
    height: 400px;
    padding: 20px;
    bottom: 328px;
    right: -100px;
}
.transition {
    right: 0;
}
.color {
    border: 2px solid transparent;
    transition: 0.3s;
    cursor: pointer;
    height: 60px;
    opacity: 0.5;
    width: 60px;
}
.active {
    opacity: 1;
}
.color:hover {
    opacity: 1;
}
.color1 {
    background: linear-gradient(to right, #EE9CA7, #FFDDE1);
}
.color2 {
    background: linear-gradient(to right, #2193B0, #6DD5ED);
}
.color3 {
    background: linear-gradient(to right, #00416A, #E4E5E6);
}
.color4 {
    background: linear-gradient(to right, #334D50, #CBCAA5 );
}
/* medium scren */
@media (min-width: 230px) and (max-width: 649px) {
    .container {
        bottom: 446px;
    }
}
@media (min-width: 650px) and (max-width: 1100px) {
    .container {
    bottom: 381px;
    }
}